@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #E1E1E1 ;
}

/*--------------------------------------------------------------- * NAVBAR CSS * -----------------------------------------------------------------------------------*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.navbar {
  background-color: #E1E1E1 ;
}
.navbar-nav {
  list-style: none;
  gap: 26px;
  font-size: 16px;
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 16px;
  margin-top: 22px;
  display: inline-block;
}
.nav-link:hover {
  color: #FF5277;
}
.nav.link.active {
  text-decoration: underline;
  color: white;
}

.fixxo-tag {
  text-decoration: none;
  color: black;
  padding: 16px;
  font-size: 34px;
  position: absolute;
  left: 40px;
  font-family: 'DM Serif Display', serif;
}

/*--------------------------------------------------------------- * SHOP CSS * -----------------------------------------------------------------------------------*/

.shop-details {
  text-decoration: none;
  color: black;
  padding: 16px;
  margin-top: 24px;
  position: relative;
  left: 420px;
  top: 10px;
  width: 50px;
  height: 50px;
}

.shop-details:hover {
  color: #fa6b6b;
}

.home-images {
  display:flex;
  gap: 80px;
  margin-top: 60px;
}

.sales-pitch {
  margin-top: 140px;
}

.sale-title{
text-align: center;
font-size: 70px;
line-height: 70px;
font-weight: 500;
font-family: 'DM Serif Display', serif;
margin-bottom: 20px;
}

.sale-text {
  font-size: 16px;
}

.sale-btn {
display: flex;
margin: auto;
justify-content: center;
border: 0;
padding: 18px;
background-color:#fa6b6b;
color: white;
cursor: pointer;
font-family: 'DM Serif Display', serif;
font-size: 16px;
letter-spacing: 2px;
width: 40%;
margin-top: 30px;
}

/*--------------------------------------------------------------- * PRODUCT CSS * -----------------------------------------------------------------------------------*/
.sub-titles{
  text-align: center;
}

.product-wrapper {
display: inline-grid;
}
.product-img {
  display:inline-grid;
  width: 100%;
  object-fit: cover;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  

}

.product-category {
font-size: 14px;
text-align: center;
margin-top: 16px;
color:rgb(85, 85, 85)
}

.product-title {
font-size: 16px;
font-weight: 500;
letter-spacing: 2px;
text-align: center;
font-family: 'DM Serif Display', serif;
margin-top: 8px;


}

.product-stars {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 110px;
  margin: auto;
  align-items: center;
  margin-top: 6px;

}

.product-price {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  margin-top: 6px;
  margin-bottom: 20px;

}

